{{template "base" .}}
{{define "title"}}Home{{end}}

{{define "main"}}
<!-- <h2>Your Collections<span style="float:right"><a href='/addcollection'>+ Add a New Collection</a></span></h2>
{{if .Colls}}
<table>
    <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Actions</th>
    </tr>
    {{range .Colls}}
    <tr>
        <td><a href='/collection/{{.ID.Hex}}'>{{.Name}}</a></td>
        <td>{{.Capacity}}</td>
        <td><a href='/deletewine/{{.ID.Hex}}'><button>Delete</button></a></td>
    </tr>
    {{end}}
</table>
{{else}}

<p> There's nothing to see here yet!</p>

{{end}} -->

<h2>Welcome to Gobble - Wine Cellar Management</h2>
<div class='wine'>
    <div class='metadata'>
        <p>Gobble allows users to easily manage their wine collection(s). Users can create multiple collections and
            organize
            their wine in each. Planned features include:</p><br>

        <ul style="padding-left: 25px;">
            <li>Multi-User functionality</li>
            <li>"Drink It!" feature to track bottles that have been consumed (vs. simply deleted from the cellar)</li>
            <li>Tasting notes on bottles that have been consumed</li>
            <li>Dynamic storage recommendations (i.e., open storage locations are automatically selected)</li>
            <li>The ability to update bottles/collections, including storage locations, prices, etc.</li>
            <li>And much more!</li>
        </ul><br>

        <p>Take a look around and enjoy!</p>
    </div>
</div>
{{end}}