{{template "base" .}}

{{define "title"}}New Collection{{end}}

{{define "main"}}
<h2>Add a New Collection</h2>
<form action='/insertcollection' method='POST'>
    <div>
        <label>Name:</label>
        <input type='text' name='name'>
    </div>
    <div>
        <label>Rows:</label>
        <input type='number' name='rows' min="1">
    </div>
    <div>
        <label>Columns:</label>
        <input type='number' name='columns' min="1">
    </div>

    <!-- ADD: user name -->

    <div>
        <input type='submit' value='Add Collection'>
    </div>
</form>
{{end}}