{{template "base" .}}

{{define "title"}}Add a New Wine{{end}}

{{define "main"}}
<h2>Add a New Wine</h2>
<form action='/insertwine' method='POST'>
    <div>
        <label>Producer:</label>
        <input type='text' name='producer'>
    </div>
    <div>
        <label>Vintage:</label>
        {{if .Years}}
        <select name='vintage' id='vintage'>
            {{range .Years}}
            <option value={{.}}>{{.}}</option>
            {{end}}
        </select>
        {{else}}
        <input type='text' name='vintage'>
        {{end}}
        <label for='nonvintage'>Non-Vintage:</label>
        <input type='checkbox' name='nonvintage' id='nonvintage' value='true'>
        <!-- <script>
            var end = 1900;
            var start = new Date().getFullYear();
            var options = "<option>N/V</option>";
            for (var year = start; year <= end; year++) {
                options += "<option>" + year + "</option>";
            }
            document.getElementById("vintage").innerHTML = options;
        </script> -->
    </div>
    <div>
        <label>Grape/Style:</label>
        <input type='text' name='grape'>
    </div>
    <div>
        <label>Region:</label>
        <input type='text' name='region'>
    </div>
    <div>
        <label>Bottle Price (USD):</label>
        <input type='text' name='bottleprice'>
    </div>
    <div>
        <label>Location:</label>
        <input type='text' name='location'>
    </div>
    <div>
        <input type='submit' value='Add Wine'>
    </div>
</form>
{{end}}