{{template "base" .}}

{{define "title"}}Confirm Delete{{end}}

{{define "main"}}
{{with .Wine}}

<h3>Are you sure want to remove this wine?</h3>

<div class='wine'>
    <div class='metadata'>
        <strong>Producer: </strong>{{.Producer}}
        <span><strong>ID: </strong>#{{.ID.Hex}}</span>
        <br><strong>Vintage: </strong>{{.Vintage}}
        <br><strong>Grape/Style: </strong>{{.Grape}}
        <br><strong>Region: </strong>{{.Region}}
        <br><strong>Bottle Price: </strong>${{.BottlePrice}}
        <br><strong>Location: </strong>{{.Location}}
        <br><strong>Producer: </strong>{{.Producer}}
    </div>
</div>
<br>
<h3><a href='/confirmdelete/{{.ID.Hex}}'>Confirm Delete</a></h3>
<br>
<br>
<a href='/'>Return to Collection</a>
{{end}}
{{end}}