{{template "base" .}}
{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Your Collection</h2>
{{if .Wines}}
<table>
    <tr>
        <th>Producer</th>
        <th>Vintage</th>
        <th>Grape</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    {{range .Wines}}
    <tr>
        <td><a href='/collection/{{.ID.Hex}}'>{{.Producer}}</a></td>
        <td>{{.Vintage}}</td>
        <td>{{.Grape}}</td>
        <td>{{.Location}}</td>
        <td><a href='/deletewine/{{.ID.Hex}}'>Delete</a></td>
    </tr>
    {{end}}
</table>
{{else}}

<p> There's nothing to see here yet!</p>

{{end}}
{{end}}