{{template "base" .}}

{{define "title"}}Wine Info{{end}}

{{define "main"}}
{{with .Wine}}

<div class='wine'>
    <div class='metadata'>
        <strong>Producer: </strong>{{.Producer}}
        <span><strong>ID: </strong>#{{.ID.Hex}}</span>
        {{if (eq .Vintage 0)}}
        <br><strong>Vintage: </strong>N/V
        {{else}}
        <br><strong>Vintage: </strong>{{.Vintage}}
        {{end}}
        <br><strong>Grape/Style: </strong>{{.Grape}}
        <br><strong>Region: </strong>{{.Region}}
        <br><strong>Bottle Price: </strong>${{.BottlePrice}}
        <br><strong>Location: </strong>{{.Location}}
        <br><strong>Producer: </strong>{{.Producer}}
        <span><a href='/deletewine/{{.ID.Hex}}'><button>Delete</button></a></span>
    </div>
</div>
<br><a href='/'>Return to Collection</a>
{{end}}
{{end}}