.filter-radio-wrapper {
    width: 65%;
    min-width: 130px;
    margin-left: auto;
    margin-right: auto;
    
}

.filter-radio-header {
    font-size: 16px;
    color: #e8ecf0;
    background-color: #181818;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    margin-left: 3%;
    margin-bottom: -10px;
    width: fit-content;
    
}

.filter-radio-form {
    display: grid;
    border: #181818;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 15px 8px 8px;
    
}

.filter-radio-buttons {
    font-size: 14px;
}

.filter-radio-buttons:hover {
    cursor: pointer;
}

.filter-radio-labels:hover {
    cursor: pointer;
}

.filter-search-wrapper {
    width: 65%;
    min-width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.filter-search-wrapper legend {
    font-size: 16px;
    color: #e8ecf0;
    background-color: #181818;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    margin-left: 3%;
    margin-bottom: -10px;
    width: fit-content;
}

.filter-search-box {
    display: grid;
    border: #181818;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 15px 8px 8px;
}

.filter-search-box input {
    font-size: 14px;
    width: 100%;
}

.filter-search-box p {
    font-size: 11px;
    text-align: center;
    margin: 3px;
}